# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.db

# Python virtual environment
venv/
.venv/
env/
ENV/

# Python local logs
AIPC/backend/logs/
*.log

# Node dependencies and build output
node_modules/
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
